@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

// base styles

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

// input field styles

header {
  height: 282px;
  background-image: url("../images/pattern-bg.png");
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 570px;
  margin: 0 auto;
  label {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 31px;
    padding-bottom: 33px;
  }
  input {
    height: 60px;
    width: calc(100% - 60px);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
    outline: none;
    padding-left: 27px;
    font-size: 1.8rem;
    align-self: flex-start;
    &::placeholder {
      color: $grey;
    }
  }
  button {
    position: absolute;
    top: 94px;
    left: 510px;
    width: 60px;
    height: 60px;
    background-color: black;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    // &:hover {
    //   background-color: $orange;
    // }
    img {
      margin-top: 3px;
    }
  }
}

// displayed info styles

section {
  position: absolute;
  width: 1110px;
  height: 162px;
  background-color: white;
  top: calc(282px - 81px);
  left: calc(50% - 555px);
  border-radius: 15px;
  display: flex;
  div {
    width: 25%;
    position: relative;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      &::after {
        content: "";
        position: absolute;
        height: 75px;
        border-left: 1px solid $grey;
        right: 0;
        top: 48px;
      }
    }
    h2 {
      color: $grey;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.4rem;
      padding: 41px 0 0 34px;
    }
    p {
      font-size: 2.5rem;
      font-weight: 500;
      padding: 17px 34px 0 34px;
    }
  }
}

// map area styles

main {
  background-color: $grey;
  height: calc(100vh - 282px);
  z-index: -1;
}

// responsive styles

@media screen and (max-width: 1138px) {
  section {
    width: 1000px;
    left: calc(50% - 500px);
  }
}

@media screen and (max-width: 1028px) {
  section {
    width: 800px;
    height: 150px;
    top: calc(282px - 75px);
    left: calc(50% - 400px);
    div {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          top: 43px;
        }
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 826px) {
  header {
    height: 400px;
  }
  main {
    height: calc(100vh - 400px);
  }
  section {
    width: 400px;
    height: 350px;
    top: calc(400px - 175px);
    left: calc(50% - 200px);
    flex-direction: column;
    justify-content: space-evenly;
    div {
      width: 100%;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          border-left: none;
        }
      }
      h2 {
        font-size: 1.1rem;
        padding: 0px 0 0 0px;
        text-align: center;
      }
      p {
        font-size: 1.8rem;
        padding: 17px 0px 0 0px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 646px) {
  form {
    width: 500px;
    button {
      left: 440px;
    }
  }
}

@media screen and (max-width: 562px) {
  form {
    width: 460px;
    label {
      font-size: 2.5rem;
    }
    button {
      top: 89px;
      left: 400px;
    }
  }
  header {
    height: 360px;
  }
  main {
    height: calc(100vh - 360px);
  }
  section {
    width: 300px;
    top: calc(360px - 175px);
    left: calc(50% - 150px);
  }
}

@media screen and (max-width: 518px) {
  form {
    width: 280px;
    label {
      font-size: 2.1rem;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    input {
      height: 45px;
      padding-left: 15px;
      font-size: 1.2rem;
      width: calc(100% - 45px);
    }
    button {
      top: 71px;
      left: 235px;
      width: 45px;
      height: 45px;
    }
  }
  header {
    height: 268px;
  }
  main {
    height: calc(100vh - 268px);
  }
  section {
    width: 280px;
    height: 260px;
    top: calc(268px - 130px);
    left: calc(50% - 140px);
    div {
      h2 {
        font-size: 0.9rem;
        padding: 0px 0 0 0px;
        text-align: center;
      }
      p {
        font-size: 1.5rem;
        padding: 17px 0px 0 0px;
        text-align: center;
      }
    }
  }
}

// Add extra height to the map on screens with a small height

@media screen and (max-height: 740px) {
  main {
    height: calc(100vh - 268px + 150px);
  }
}

// cover hover effect for touchscreens

@media (hover: hover) and (pointer: fine) {
  form {
    button {
      &:hover {
        background-color: $orange;
      }
    }
  }
}
